python-dotenv
fastapi-code-generator
fastapi
python-multipart
numpy
pandas
matplotlib
jupyter
pillow
opencv-python
scikit-learn
fastapi
uvicorn
pymongo
motor
mongoengine
pydantic
bcrypt
"passlib[bcrypt]"
"python-jose[cryptography]"
